<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\styles\page1.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&family=Poppins:wght@500&display=swap" rel="stylesheet">
  <title>Hospitalify.US</title>
</head>


<!-- navbar -->
<div class="navbar">
  <p class="start"><img src="static/styles/images/logo.svg" alt="" class="logo"></p>

</div>
<!-- images -->

<div class="part1">
  <p class="text-solution"><span class="sentence">One Stop Solution</span>
    <br>
    for verified
    Amazon reviews.</p>


  <div class="doc_photos">
    <img src="static/styles/images/shopping cart b.png" alt="" class="doctor">
  </div>
</div>
<p class="p1">Using AI where we verify whether the review is
  genuine <br>or fake</p>
<form action="" method="post" class="searchform">
  <input type="text" placeholder="Search your product" name="link" class="all" id="link">
  
  <button type="submit" class="searchbar"><img src="static/styles/images/search-bar.svg" alt=""
    class="buttonimage"><input type="submit" ></button>


</form>
<!-- cards -->

</body>

</html>